<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <log4net noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <root>
      <level value="DEBUG" />
      <!--
         <level value="ERROR" />
        <level value="DEBUG" />
        <level value="INFO" />
      -->
      <appender-ref ref="Console" />
      <appender-ref ref="VsixLogFileAppender" />
    </root>
    
  <appender name="VsixLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--
      <param name="File" value="${ALLUSERSPROFILE}/vsixedit/Logs/vsixLog.log"/>
      <param name="File" value="${APPDATA}\vsixedit\Logs\vsixLog.txt" />
      <file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}/vsixedit/Logs/vsixLog.txt" />
      <file value="%envFolderPath{CommonApplicationData}\vsixedit\Logs\vsixLog.txt" />
      <param name="File" value="${APPDATA}\vsixedit\Logs\vsixLog.txt" />
       -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!-- creates log file in 
    OK  value=".\vsixedit\Logs\vsixLog.txt
      "C:\\a_work\\vs2013\\wpfTempate\\Vsix.Viewer\\bin\\Debug\\vsixedit\\Logs\\vsixLog.txt"
      
    OK  value="${APPDATA}\vsixedit\Logs\vsixLog.txt"
      "C:\\Users\\Sasha\\AppData\\Roaming\\vsixedit\\Logs\\vsixLog.txt"
      %appdata%\vsixedit\Logs\vsixLog.txt
      
      value="%envFolderPath{CommonApplicationData}\vsixedit\Logs\vsixLog.txt"
      "C:\\a_work\\vs2013\\wpfTempate\\Vsix.Viewer\\bin\\Debug\\%envFolderPath{CommonApplicationData}\\vsixedit\\Logs\\vsixLog.txt"
    -->
    <param name="File"  value="${APPDATA}\vsixedit\Logs\vsixLog.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>
  </appender>
  </log4net>
  
</configuration>
